NET "F50MHz" LOC = "B8" ; #clk
NET "AN<0>" LOC = "F17" ;
NET "AN<1>" LOC = "H17" ;
NET "AN<2>" LOC = "C18" ;
NET "AN<3>" LOC = "F15" ;
#NET "BTN0" LOC = "B18" ;
#NET "BTN1" LOC = "D18" ;
#NET "BTN2" LOC = "E18" ;
#NET "BTN3" LOC = "H13" ;
NET "seg<0>" LOC = "L18" ;
NET "seg<1>" LOC = "F18" ;
NET "seg<2>" LOC = "D17" ;
NET "seg<3>" LOC = "D16" ;
NET "seg<4>" LOC = "G14" ;
NET "seg<5>" LOC = "J17" ;
NET "seg<6>" LOC = "H14" ;
NET "seg_P" LOC = "C17" ; #DOT
NET "SW<0>" LOC = "G18" ; # M[0]
NET "SW<1>" LOC = "H18" ; # M[1]
NET "SW<2>" LOC = "K18" ; # M[2]
NET "SW<3>" LOC = "K17" ; # M[3]
NET "SW<4>" LOC = "L14" ; # M[4]
NET "SW<5>" LOC = "L13" ; # M[5]
NET "SW<6>" LOC = "N17" ; # adr[0]
NET "SW<7>" LOC = "R17" ; # adr[1], PTR
#NET "LED0" LOC = "J14" ; #
#NET "LED1" LOC = "J15" ; #
#NET "LED2" LOC = "K15" ; #
#NET "LED3" LOC = "K14" ; #
#NET "LED4" LOC = "E17" ; #
#NET "LED5" LOC = "P15" ; #
#NET "LED6" LOC = "F4" ; #
#NET "LED7" LOC = "R4" ; #
#NET "TXD" LOC = "P9" ;
#NET "RXD" LOC = "U6" ;
NET "JA1" LOC = "L15" ; # AR_en_tx
NET "JA2" LOC = "K12" ; # AR_TXD
#NET "JA3" LOC = "L17" ; #
#NET "JA4" LOC = "M15" ; #
NET "JA7" LOC = "K13" ; # DAC[0]
NET "JA8" LOC = "L16" ;# DAC[1]
NET "JA9" LOC = "M14" ;# DAC[2]
NET "JA10" LOC = "M16" ;#DAC[3]
NET "JB1" LOC = "M13" ; # RXP
NET "JB2" LOC = "R18" ; # RXN
NET "JB3" LOC = "R15" ; # RXP | RXN
#NET "JB4" LOC = "T17" ; #
NET "JB7" LOC = "P17" ; # DAC[4]
NET "JB8" LOC = "R16" ; # DAC[5]
NET "JB9" LOC = "T18" ; # DAC[6]
NET "JB10" LOC = "U18" ; # DAC[7]
NET "JC1" LOC = "G15" ; #ADC_clk
NET "JC2" LOC = "J16" ; #ADC_dat[1]
NET "JC3" LOC = "G13" ; # ADC_dat[3]
NET "JC4" LOC = "H16" ; # ADC_dat[5]
NET "JC7" LOC = "H15" ; # ADC_dat[0]
NET "JC8" LOC = "F14" ; # ADC_dat[2]
NET "JC9" LOC = "G16" ;# ADC_dat[4]
NET "JC10" LOC = "J12" ;# ADC_dat[6]
NET "JD1" LOC = "J13" ;# ADC_dat[8]
NET "JD2" LOC = "M18" ;# ADC_dat[10]
NET "JD3" LOC = "N18" ;# ADC_dat[11]
#NET "JD4" LOC = "P18" ;#
NET "JD7" LOC = "K14" ;# ADC_dat[7]
NET "JD8" LOC = "K15" ;# ADC_dat[9]
#NET "JD9" LOC = "J15" ;#
#NET "JD10" LOC = "J14" ;#