NET "F50MHz" LOC = "B8" ; //Вход глобального буфера
NET "BTN0" LOC = "B18"; #adr[0]
NET "BTN1" LOC = "D18"; #adr[1]
NET "BTN2" LOC = "E18"; #s
NET "BTN3" LOC = "H13"; #we
NET "SW<0>" LOC = "G18"; #NT[0]
NET "SW<1>" LOC = "H18"; #NT[1]
NET "SW<2>" LOC = "K18"; #NT[2]
NET "SW<3>" LOC = "K17"; #NT[3]
NET "SW<4>" LOC = "L14"; #NT[4]
NET "SW<5>" LOC = "L13"; #NT[5]
NET "SW<6>" LOC = "N17"; #NT[6]
NET "SW<7>" LOC = "R17"; # NT[7]
# Выходы для 4-х разрядного семи сегментного индикатора
NET "AN<0>" LOC = "F17"; #аноды первой цифры
NET "AN<1>" LOC = "H17"; #аноды второй цифры
NET "AN<2>" LOC = "C18"; #аноды третьей цифры
NET "AN<3>" LOC = "F15"; #аноды четвертой цифры
NET "seg<0>" LOC = "L18"; # сегмент "A"
NET "seg<1>" LOC = "F18"; # сегмент "B"
NET "seg<2>" LOC = "D17"; # сегмент "C"
NET "seg<3>" LOC = "D16"; # сегмент "D"
NET "seg<4>" LOC = "G14"; # сегмент "E"
NET "seg<5>" LOC = "J17"; #сегмент "F"
NET "seg<6>" LOC = "H14"; # сегмент "G"
NET "seg_P" LOC = "C17" ; # сегмент "H"(точка)
#NET "LED0" LOC = "J14";
#NET "LED1" LOC = "J15";
#NET "LED2" LOC = "K15";
#NET "LED3" LOC = "K14";
#NET "LED4" LOC = "E17";
#NET "LED5" LOC = "P15";
#NET "LED6" LOC = "F4"; #
#NET "LED7" LOC = "R4"; #
# Порты макета NEXYS2
#NET "JA1" LOC = "L15" ; #
#NET "JA2" LOC = "K12" ; #
#NET "JA3" LOC = "L17" ; #
#NET "JA4" LOC = "M15" ; #
NET "JA7" LOC = "K13" ; # SIN[0]
NET "JA8" LOC = "L16" ; # SIN[1]
NET "JA9" LOC = "M14" ;# SIN[2]
NET "JA10" LOC = "M16" ;# SIN[3]
#NET "JB1" LOC = "K13" ; #
#NET "JB2" LOC = "L16" ; #
#NET "JB3" LOC = "M14" ; #
#NET "JB4" LOC = "M16" ; #
NET "JB7" LOC = "P17" ; #SIN[4]
NET "JB8" LOC = "R16" ; #SIN[5]
NET "JB9" LOC = "T18" ; #SIN[6]
NET "JB10" LOC = "U18" ; # SIN[7]
NET "JC1" LOC = "G15" ; #SIN[8]   c15?
NET "JC2" LOC = "J16" ; #ce_tact
NET "JC3" LOC = "G13" ; # ce_S1
NET "JC4" LOC = "H16" ; # ce_S2
#NET "JC7" LOC = "H15" ; #
#NET "JC8" LOC = "F14" ; #
#NET "JC9" LOC = "G16" ; #
#NET "JC10" LOC = "J12" ; #
#NET "JD1" LOC = "J13" ;
#NET "JD2" LOC = "M18" ;
#NET "JD3" LOC = "N18" ;#
NET "JD4" LOC = "P18" ; # S
#NET "JD7" LOC = "K14" ; #LD3
#NET "JD8" LOC = "K15" ; #LD3
#NET "JD9" LOC = "J15" ; #LD3
#NET "JD10" LOC = "J14" ; #LD3
#NET "TXD" LOC = "P9" ; #TXD P9
#NET "RXD" LOC = "U6" ; #TXD U6