NET "F50MHz" LOC = "B8" ; #F50MHz
NET "AN<0>" LOC = "F17" ; #AN0
NET "AN<1>" LOC = "H17" ; #AN1
NET "AN<2>" LOC = "C18" ; #AN2
NET "AN<3>" LOC = "F15" ; #AN3
NET "seg<0>" LOC = "L18" ; #CA
NET "seg<1>" LOC = "F18" ; #CB
NET "seg<2>" LOC = "D17" ; #CC
NET "seg<3>" LOC = "D16" ; #CD
NET "seg<4>" LOC = "G14" ; #CE
NET "seg<5>" LOC = "J17" ; #CF
NET "seg<6>" LOC = "H14" ; #CG
NET "seg_P" LOC = "C17" ; #CP
NET "LED0" LOC = "J14" ; #en_rx_byte
#NET "LED1" LOC = "J15" ; #
#NET "LED2" LOC = "K15" ; #
#NET "LED3" LOC = "K14" ; #
#NET "LED4" LOC = "E17" ; #
#NET "LED5" LOC = "P15" ; #
#NET "LED6" LOC = "F4" ; #
NET "LED7" LOC = "R4" ; # en_tx
NET "BTN0" LOC = "B18" ; # RESET
#NET "BTN1" LOC = "D18" ; #BTN2
#NET "BTN2" LOC = "E18" ; #BTN1
NET "BTN3" LOC = "H13" ; #Inp <- TXD
NET "TXD" LOC = "P9" ; #TXD(NESYX2)->RXD(COM port PC)
NET "RXD" LOC = "U6" ; #RXD(NEXYS2)<-TXD(COM port PC)
NET "SW<0>" LOC = "G18" ; # tx_dat[0]
NET "SW<1>" LOC = "H18" ; # tx_dat[1]
NET "SW<2>" LOC = "K18" ; # tx_dat[2]
NET "SW<3>" LOC = "K17" ; # tx_dat[3]
NET "SW<4>" LOC = "L14" ; # tx_dat[4]
NET "SW<5>" LOC = "L13" ; # tx_dat[5]
NET "SW<6>" LOC = "N17" ; # tx_dat[6]
NET "SW<7>" LOC = "R17" ; # tx_dat[7]
#NET "JA1" LOC = "L15" ;#
#NET "JA2" LOC = "K12" ;#
#NET "JA3" LOC = "L17" ;#
#NET "JA4" LOC = "M15" ;#
#NET "JA7" LOC = "K13" ;#
#NET "JA8" LOC = "L16" ;#
#NET "JA9" LOC = "M14" ;#
#NET "JA10" LOC = "M16" ;#
# Выводы передатчика
#NET "JB1" LOC = "M13" ; # TXD
NET "JB2" LOC = "R18" ; # en_tx
NET "JB3" LOC = "R15" ; # T_start
NET "JB4" LOC = "T17" ; # T_dat
NET "JB7" LOC = "P17" ; # T_stop
NET "JB8" LOC = "R16" ;# ce_tact
#NET "JB9" LOC = "T18" ;#
#NET "JB10" LOC = "U18" ;#
# Выводы приемника
NET "JC1" LOC = "G15" ; # RXD
NET "JC2" LOC = "J16" ; # en_rx_byte
NET "JC3" LOC = "G13" ; # T_start
NET "JC4" LOC = "H16" ; # T_dat
NET "JC7" LOC = "H15" ; # T_stop
NET "JC8" LOC = "F14" ;# ce_tact
#NET "JC9" LOC = "G16" ;#
#NET "JC10" LOC= "J12" ;#
#NET "JD1" LOC = "J13" ;#
#NET "JD2" LOC = "M18" ;#
#NET "JD3" LOC = "N18" ;#
NET "JD4" LOC = "P18" ;#
#NET "JD7" LOC = "K14" ;#LD3
#NET "JD8" LOC = "K15" ;#LD3
#NET "JD9" LOC = "J15" ;#LD3
#NET "JD10" LOC = "J14" ;#LD3